<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Código</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Usuario</th>
            <th>F. Nacimiento</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Acciones</th> </tr>
    </thead>
    <tbody>
        <tr th:each="u : ${listaUsuarios}">
            <td th:text="${u.codUsua}"></td>
            <td th:text="${u.nomUsua}"></td>
            <td th:text="${u.apeUsua}"></td>
            <td th:text="${u.usrUsua}"></td>
            <td th:text="${u.fnaUsua}"></td>
            <td th:text="${u.tipo != null}"></td>
            <td>
                <span th:class="${u.estUsua == 1 ? 'badge bg-success' : 'badge bg-danger'}"
                      th:text="${u.estUsua == 1 ? 'Activo' : 'Inactivo'}">
                </span>
            </td>
            <td>
                <a th:href="@{/editar/{id}(id=${u.codUsua})}" class="btn btn-sm btn-warning">
                    Editar
                </a>
            </td>
        </tr>
    </tbody>
</table>